@font-face 
{
  font-family: "Qwigley";
  src: url(fonts/qwigley.ttf);
}
@font-face 
{
  font-family: "Poppinsbold";
  src: url(fonts/Poppinsextrabold.ttf);
}
@font-face 
{
  font-family: "Poppinslight";
  src: url(fonts/Poppinspoppins-semiboldmedium.ttf);
}
@media screen {
body 
{
  background-image: url("img/sea.png");
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-size: 600px;
}
.main 
{
  display: flex;
  flex-direction: row;
  max-width: 1340px;
  max-height: 700px;
  margin: 0 auto;   
}
.main-content 
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 20px 30px;
  background-image: url("img/sea_surf.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 1020px;
  height: 590px;
  border-radius: 7px;
  box-shadow: 0 60px 60px rgba(17, 69, 80, 0.45);
}
.main-menu 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-left: 50px;
  height: 40px;
}
.logo-school 
{
  font-family: Qwigley, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  margin-right: 5px;
  margin-left: 30px;
  color: white;
}
.school 
{
  font-family: Poppinsbold, sans-serif;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  margin-right: 175px;
  color: rgb(37, 100, 74);
}
.menu-item 
{
  font-family: Qwigley;
  font-style: normal;
  font-weight: 100;
  font-size: 27px;
  margin-right: 46px;
}
.main-block 
{
  display: flex;
  flex-flow: column;
  align-self: flex-start;
  margin-left: 80px;
  margin-top: 35px;
}
.lessons 
{
  font-family: Poppinsbold, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  line-height: 105%;
  font-weight: normal;
  font-size: 48px;
  margin-right: 5px;
  color: #3D3A48;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.catch-wave 
{
  font-family: Qwigley;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
}
.dude 
{
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: rgba(42, 74, 104, 0.51);
  backdrop-filter: blur(5px);
  border-radius: 100px;
  width: 245px;
  height: 90px;
  margin-top: 16px;
}
.dude-img 
{
  border-radius: 50%;
  border: 2px solid white;
  margin-left: 10px;
}
.score 
{
  position: absolute;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  top: 16px;
  left: 55px;
  background-color: #C7FFC9;
  border: 1px solid white;
}
.score-data 
{
  font-family: Poppinslight, sans-serif;
  font-style: normal;
  font-size: 9px;
  color: #314F47;
  text-align: center;
}
.chat 
{
  margin-left: 6px;
}
.dude-name 
{
  font-family: Poppinslight, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding-left: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.speech 
{
  font-family: Poppinslight, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 10px;
  color: rgb(183, 229, 240);
  padding-bottom: 3px;
}
.date-now 
{
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  margin-top: 90px;
  margin-left: 150px;
  width: 160px;
  height: 40px;
}
.date-indicator 
{
  width: 8px;
	height: 40px;
  background: white;
}
.date-country 
{
  font-family: Poppinsbold;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  color: rgb(39, 80, 90);
  margin-left: 7px;
}
.date-data 
{
  font-family: Poppinslight;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  text-transform: capitalize;
  color: rgb(41, 84, 94);
  margin-left: 7px;
}
.countries 
{
  display: flex;
  flex-flow: row;
  align-items: stretch;
  width: 900px;
  height: 200px;
  margin-left: 82px;
  margin-top: 120px;
}
.bali-block 
{
  display: flex;
  flex-flow: column;
  width: 280px;
  height: 200px;
  margin-right: 25px;
  border-radius: 12px;
  background-image: url("img/bali_2.jpg");
  background-repeat: no-repeat;
  box-shadow: 0px 25px 35px rgba(29, 44, 63, 0.70);
}
.sri-lanka-block 
{
  display: flex;
  flex-flow: column;
  width: 280px;
  height: 200px;
  margin-right: 25px;
  border-radius: 12px;
  background-image: url("img/sri_lanka_2.jpg");
  background-repeat: no-repeat;
  box-shadow: 0px 25px 35px rgba(29, 44, 63, 0.70);
}
.australia-block 
{
  display: flex;
  flex-flow: column;
  width: 280px;
  height: 200px;
  margin-right: 25px;
  border-radius: 12px;
  background-image: url("img/australia_2.jpg");
  background-repeat: no-repeat;
  box-shadow: 0px 25px 35px rgba(29, 44, 63, 0.70);
}
.booking 
{
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.486);
  backdrop-filter: blur(4px);
  top: 5px;
  border-radius: 20px;
  width: 130px;
  height: 30px;
  margin-top: 10px;
  margin-left: 20px;
}
.booking-light-closed 
{
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #FF6363;
  border: 1px solid white;
  margin-left: 10px;
  margin-right: 8px;
}
.booking-light-open 
{
  background-color: #2BE654;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  border: 1px solid white;
  margin-left: 10px;
  margin-right: 8px;
}
.booking-status 
{
  font-family: Poppinslight;
  font-style: normal;
  font-weight: 100;
  font-size: 11px;
  text-align: center;
  text-transform: capitalize;
  color: #18352E;
}
.country 
{
  font-family: Qwigley;
  font-style: italic;
  font-weight: 900;
  font-size: 39px;
  text-transform: capitalize;
  color:  #FFFFFF;
  margin-top: 60px;
  padding-left: 20px;
}
.dates 
{
  font-family: Poppinslight;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
  padding-left: 20px;
  margin-top: -15px;
}
.logo-figma 
{
  display: flex;
  flex-flow: row;
}
.img-figma 
{
  margin-left: 80px;
  margin-top: 15px;
}
.slogan-figma 
{
  font-family: Poppinsbold;
  font-style: normal;
  text-transform: capitalize;
  text-align: center;
  font-weight: 100;
  font-size: 12px;
  color: #30545C;
  align-items: flex-end;
  margin-left: 15px;
  margin-top: 20px;
}
.surf 
{
  position: relative;
  left: -250px;
  top: -14px;
}
}